$main-color:  #f2eae4;
$font: 'Roboto', sans-serif;
.no-padding{
	padding:0;
}
.full-width{
	width: 100%;
}

.container{
	height: 100%;
	position: absolute;
}

.hide {
  display: none !important;
}

#map{
  height: 100%;
  position: absolute;
}

// .alerts{
// 	background: #b2dedb
// }

// .item{
// 	padding: 5px 0;
// 	border-bottom: 2px solid #888;
// 	a{
// 		color: #b2dedb;
// 		border-bottom: 1px solid #888;
// 		text-decoration: none;
// 	}
// }

// .highlighted{
// 	background: #a16b66;
// 	// border-radius: 5px;
// }